<section class="aboutUs grey">
        <div class="container">
            <div class="section__content">
                <div class="section__header">
                    <div class="section__header--title">About us</div>
                    <div class="section__header--description">Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                        Sint, hic.</div>
                </div>
                <div class="section__content--wrapper">
                    <div class="row justify-content-between">
                        <div class="col-12 col-md-5">
                            <div class="slider__wrapper">
                                <img src="img/aboutUs.png" alt="">
                            </div>
                        </div>
                        <div class="col-12 col-md-6">
                            <div class="product__description">
                                <p class="product__description--subtitle">We Actually Do amazing works</p>
                                <p class="product__description--text">A visual approach is an approach to a runway at an
                                    airport
                                    conducted under instrument flight rules. The pilot must at all times have either the
                                    airport or the preceding aircraft in approach correct sight. conducted under
                                    instrument flight rules. The pilot must at all times.</p>
                                <p class="product__description--text">Preceding aircraft in approach correct sight.
                                    conducted under instrument flight rules.</p>
                                <p class="product__description--subtitle">why we are the great?</p>
                                <p class="product__description--text">A visual approach is an approach to a runway at an
                                    airport
                                    conducted under instrument flight rules.
                                    The preceding aircraft in approach correct sight.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>