<section class="banner">
        <div class="container">
            <div class="banner__description">
                <div class="banner__description--content">
                    <div class="banner__description--text">
                        <p>Say Hello to <span class="blueBackground">SHOPNO!</span></p>
                        <p><span class="blueBackground"> Agency</span> CORPORATE SHOPNO Theme</p>
                    </div>
                    <div class="banner__description--btn">
                        <a href="#" class="banner__link">Contact us</a>
                    </div>
                </div>
            </div>
        </div>
    </section>