<section class="contactUs">
        <div class="container">
            <div class="section__content">
                <div class="row">
                    <div class="col-12 col-lg-7">
                        <div class="contact__form--wrapper">
                            <form action="" class="contact__form">
                                <input type="text" class="contact__input" placeholder="Name*">
                                <input type="text" class="contact__input" placeholder="Subject*">
                                <input type="text" class="contact__input" placeholder="E-mail*">
                                <textarea name="" id="" cols="30" rows="10" placeholder="Message*"
                                    class="contact__input"></textarea>
                                <button class="contact__btn">send nessage</button>
                            </form>
                        </div>
                    </div>
                    <div class="col-12 col-lg-5">
                        <div class="contact__info--wrapper raleway">
                            <div class="inner__contacts">
                                <div class="contact__info--text">
                                    <p>Adress line 1 </p>
                                    <p>Adress line 2</p>
                                    <p>Phone: +548 945645</p>
                                    <p class="mb-4">Fax: +456456 54546</p>
                                    <p>Web: www.designagency.net</p>
                                    <p class="mb-4">E-mail: info@designagency.net</p>
                                </div>
                                <div class="contact__info--map">
                                    <iframe
                                        src="https://yandex.ru/map-widget/v1/?um=constructor%3A26e7ab02ff3027e1016a2d3864c17aca561113d05e89d1bcec5c9c103480e801&amp;source=constructor"
                                        frameborder="0" class="map"></iframe>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>