<footer class="footer">
        <div class="container">
            <div class="section__content">
                <div class="footer__content">
                    <div class="followUs">follow us</div>
                    <div class="footer__social">
                        <div class="footer__social--wrapper">
                            <img src="img/footerPin.svg" alt="">
                        </div>
                        <div class="footer__social--wrapper">
                            <img src="img/footerTwit.svg" alt="">
                        </div>
                        <div class="footer__social--wrapper">
                            <img style="width:13px" src="img/footerFace.svg" alt="">
                        </div>
                        <div class="footer__social--wrapper">
                            <img src="img/footerBall.svg" alt="">
                        </div>

                    </div>
                    <div class="copyright">Copyright Masum Parvej, All Rights Reserved</div>
                </div>
            </div>
        </div>
    </footer>