<section class="featureWorks">
        <div class="container">
            <div class="section__content">
                <div class="section__header">
                    <div class="section__header--title">Fiatured works</div>
                    <div class="section__header--description">Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                        Sint</div>
                </div>

                <div class="works">
                    <div class="row">
                        <div class="col-12  col-sm-4">
                            <div class="work__img--wrapper">
                                <img src="img/work1.png" alt="">
                            </div>
                        </div>
                        <div class="col-12 col-sm-4">
                            <div class="work__img--wrapper">
                                <img src="img/work2.png" alt="">
                            </div>
                        </div>
                        <div class="col-12 col-sm-4">
                            <div class="work__img--wrapper">
                                <img src="img/work3.png" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-sm-4">
                            <div class="work__img--wrapper">
                                <img src="img/work4.png" alt="">
                            </div>
                        </div>
                        <div class="col-12 col-sm-4">
                            <div class="work__img--wrapper">
                                <img src="img/work5.png" alt="">
                            </div>
                        </div>
                        <div class="col-12 col-sm-4">
                            <div class="work__img--wrapper">
                                <img src="img/work6.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="ourServices grey">
        <div class="container">
            <div class="section__content">
                <div class="section__header">
                    <div class="section__header--title">Our services</div>
                    <div class="section__header--description">Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                        Sint</div>
                </div>

                <div class="services">
                    <div class="row">
                        <div class="col-12 col-md-7">
                            <div class="inner__service first">
                                <div class="inner__service--wrapper">
                                    <div class="service__title">Cool psd design</div>
                                    <div class="service__description">Our most popular service is our we know that
                                        sometimes it’s something and you middle most..</div>
                                    <div class="service__link">Know more &rarr;</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-5">
                            <div class="inner__service second">
                                <div class="inner__service--wrapper">
                                    <div class="service__title">Cool psd design</div>
                                    <div class="service__description">Our most popular service is our we know that
                                        sometimes it’s something and you middle most..</div>
                                    <div class="service__link">Know more &rarr;</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-md-7">
                            <div class="inner__service third">
                                <div class="inner__service--wrapper">
                                    <div class="service__title">Cool psd design</div>
                                    <div class="service__description">Our most popular service is our we know that
                                        sometimes it’s something and you middle most..</div>
                                    <div class="service__link">Know more &rarr;</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-5">
                            <div class="inner__service forth">
                                <div class="inner__service--wrapper">
                                    <div class="service__title">Cool psd design</div>
                                    <div class="service__description">Our most popular service is our we know that
                                        sometimes it’s something and you middle most..</div>
                                    <div class="service__link">Know more &rarr;</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-md-7">
                            <div class="inner__service fifth">
                                <div class="inner__service--wrapper">
                                    <div class="service__title">Cool psd design</div>
                                    <div class="service__description">Our most popular service is our we know that
                                        sometimes it’s something and you middle most..</div>
                                    <div class="service__link">Know more &rarr;</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-5">
                            <div class="inner__service sixth">
                                <div class="inner__service--wrapper">
                                    <div class="service__title">Cool psd design</div>
                                    <div class="service__description">Our most popular service is our we know that
                                        sometimes it’s something and you middle most..</div>
                                    <div class="service__link">Know more &rarr;</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>